.spinner {
    margin-top: 20px;
    --size: 100px;
    --border: 10px;
    --blue: #0870f8;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: relative;
    border: var(--border) solid lighten(#202020, 5%);
    border-right: var(--border) solid var(--blue);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}   