.paleTulip {fill:#F27990;}
.tulip {fill:#CC2954;}
.darkTulip {fill:#A51138;}
.darkestTulip {fill:#7C0826;}

.turn-01, .turn-02, .turn-03, .turn-04, .turn-06{
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}

.turn-01 { animation-name: turnOne;}
.turn-02 { animation-name: turnTwo;}
.turn-03 { animation-name: turnThree;}
.turn-04 { animation-name: turnFour;}

@keyframes turnOne {
  0% {transform: rotate(0deg) translate(0, 0);}
  100% {transform: rotate(180deg) translate(0, 0);}
}
@keyframes turnTwo {
    0% {transform: rotate(0deg) translate(0, 0);}
    100% {transform: rotate(360deg) translate(0, 0);}
  }
@keyframes turnThree {
  0% {transform: rotate(0deg) translate(0, 0);}
  100% {transform: rotate(540deg) translate(0, 0);}
}
@keyframes turnFour{
  0% {transform: rotate(0deg) translate(0, 0);}
  100% {transform: rotate(720deg) translate(0, 0);}
}