<!DOCTYPE html>
<html class="has-background-light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/spin.css">
        <title>Loading - Jeu</title>
    </head>
    <body>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 300">
            <polygon class="turn-01 darkestTulip" points="400, 280, 310, 150, 400, 20, 490, 150"/>
            <polygon class="turn-02 darkTulip" points="400, 280, 310, 150, 400, 20, 490, 150"/>
            <polygon class="turn-03 tulip" points="400, 280, 310, 150, 400, 20, 490, 150"/>
            <polygon class="turn-04 paleTulip" points="400, 280, 310, 150, 400, 20, 490, 150"/>
          </svg>
    </body>
</html>